.wrapper {
  background-color: var(--body_background);

  .container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    max-width: 1300px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;

      h1,
      p,
      span {
        color: var(--body_color);
      }

      span {
        display: flex;
        justify-content: center;
        font-size: 64px;
      }
    }
  }
}
