.menu_burger {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: #333333;
  transition: 0.3s linear;

  z-index: 3;

  &__active {
    width: 100%;
    z-index: 4;
  }

  &__content {
    display: none;

    &__active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      margin: 0 auto;
    }

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        display: flex;
        margin: 10px 0 20px 0;
      }

      li {
        cursor: pointer;
      }
    }

    &__middle {
      display: flex;
      height: 100%;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        li {
          display: flex;
          justify-content: center;

          a {
            font-weight: 600;
            font-size: 44px;
            line-height: 120%;
            text-decoration: none;
            color: white;
          }

          button {
            width: 170px;
            padding: 15px;
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            color: white;
            background-color: #b59571;
            text-decoration: none;
            cursor: pointer;
            border: 0;
          }
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: center;
      width: 400px;

      ul {
        display: flex;
        width: 60%;
        justify-content: space-evenly;

        li {
          cursor: pointer;
        }
      }
    }
  }
}
