.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 100px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 80px;

    h1 {
      color: var(--body_color);
    }
  }

  .block__header {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 140%;
    font-weight: 700;
    margin-right: 30px;
  }

  .line {
    height: 3px;
    width: 60px;
    border: 2px solid #b59571;
  }

  &__content {
    display: flex;
    align-items: center;
    max-width: 1300px;
  }

  &__block__time {
    display: flex;
    flex-direction: column;
    margin-right: 45px;

    .block__top {
      display: flex;
      margin-bottom: 50px;
    }

    .block__bottom {
      display: flex;
    }

    .contacts__block {
      display: flex;
      flex-direction: column;
      margin-right: 25px;
    }

    .contacts__block__header {
      display: flex;
      align-items: center;

      h1 {
        margin-right: 15px;
        font-weight: 700;
        font-size: 64px;
        line-height: 120%;
        color: #b59571;
      }

      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #b59571;
      }
    }

    p {
      max-width: 100px;
      color: var(--body_color);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
    }
  }
}

@media (max-width: 1300px) {
  .contacts__content {
    display: flex;
    flex-direction: column;
  }

  .contacts__block__time {
    width: 80%;
    align-items: center;
    margin-right: 0;
    margin-bottom: 100px;

    .block__top {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 50px;
    }

    .block__bottom {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
@media (max-width: 425px) {
  .contacts__block {
    margin-right: 0 !important;
  }
}

@media (max-width: 378px) {
  .contacts__block__time {
    .block__top {
      flex-direction: column;
    }

    .block__bottom {
      flex-direction: column;
    }
  }
}
