.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 100px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 80px;

    h1 {
      color: var(--body_color);
    }
  }

  .block__header {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 140%;
    font-weight: 700;
    margin-right: 30px;
  }

  .line {
    height: 3px;
    width: 60px;
    border: 2px solid #b59571;
  }

  &__content {
    display: flex;
    align-items: center;
    max-width: 1300px;
  }

  &__block__time {
    display: flex;
    flex-direction: column;
    margin-right: 45px;

    .block__top {
      display: flex;
      margin-bottom: 50px;
    }

    .block__bottom {
      display: flex;
    }

    .contacts__block {
      display: flex;
      flex-direction: column;
      margin-right: 25px;
    }

    .contacts__block__header {
      display: flex;
      align-items: center;

      h1 {
        margin-right: 15px;
        font-weight: 700;
        font-size: 64px;
        line-height: 120%;
        color: #b59571;
      }

      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #b59571;
      }
    }

    p {
      color: var(--body_color);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
    }
  }

  .information {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    align-items: center;

    background-image: url("../../../../public/img/map.webp");
    height: 460px;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: right;

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 475px;
      height: 420px;
      padding: 20px 40px;
      background-color: #5b5b5b;

      z-index: 2;

      &__adress {
        display: flex;
        align-items: center;
        padding: 0 40px;

        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        img {
          margin-right: 15px;
        }
      }

      &__number {
        display: flex;
        align-items: center;
        padding: 0 40px;

        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        img {
          margin-right: 15px;
        }
      }

      &__middle {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        &__title {
          display: flex;
          padding: 0 40px;
          margin-bottom: 10px;
          color: white;
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
        }

        .block__content {
          display: flex;
          flex-direction: column;
          padding: 0 40px;

          h1 {
            margin: 0 14px 0 0;
            color: white;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
          }

          h2 {
            margin: 0;
            color: white;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
          }
        }

        .block__content__header {
          display: flex;
          align-items: center;
          margin-top: 15px;
        }

        .block__content__footer {
          display: flex;
          align-items: center;
          margin-top: 15px;
        }
      }

      &__footer {
        display: flex;
        justify-content: center;
        box-sizing: inherit;
        margin-top: 25px;

        .list__btn {
          display: flex;
          justify-content: space-evenly;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 35px;
            max-height: 50px;
            max-width: 180px;

            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            text-decoration: none;
            text-align: center;
            color: white;
            cursor: pointer;

            button {
              font-weight: 700;
              font-size: 16px;
              line-height: 140%;
              border: 0;
              cursor: pointer;
              color: white;
            }
          }

          .list__btn__left {
            background-color: #b59571;
            color: white;
            padding: 15px 30px;

            button {
              background-color: #b59571;
            }
          }

          .list__btn__right {
            border: 1px solid #ffffff;
            padding: 10px 20px;
            margin: 0;
            cursor: pointer;

            button {
              background-color: #5b5b5b;
            }
          }
        }
      }
    }

    .background {
      box-sizing: content-box;
      transform: translate(-50%, 0);

      img {
        width: 710px;
        height: 460px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .contacts__content {
    display: flex;
    flex-direction: column;
  }

  .contacts__block__time {
    align-items: center;
    margin-right: 0;
    margin-bottom: 100px;

    .block__top {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 50px;
    }

    .block__bottom {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }

  .information__block {
    height: 450px !important;
  }
}

@media (max-width: 1000px) {
  .information__block {
    height: 430px !important;
    width: 450px !important;
  }
}

@media (max-width: 800px) {
  .information {
    display: none !important;
  }
}

@media (max-width: 425px) {
  .contacts__block {
    margin-right: 0 !important;
  }
}

@media (max-width: 378px) {
  .contacts__block__time {
    .block__top {
      flex-direction: column;
    }

    .block__bottom {
      flex-direction: column;
    }
  }
}
