.menu {
  display: flex;
  flex-direction: column;
  margin-top: 150px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    h1 {
      color: var(--body_color);
    }

    .block__header {
      font-size: 20px;
      text-transform: uppercase;
      line-height: 140%;
      font-weight: 700;
      margin-right: 30px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    h1 {
      margin: 0 150px;
      color: var(--body_color);
      font-size: 64px;
      line-height: 120%;
      font-weight: 700;
    }
  }

  .content {
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    
    p {
      color: var(--body_color);
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__block {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;

    .block__img {
      display: flex;
      justify-content: center;
      border: 1px solid rgba(var(--body_border_color), 0.2) ;
      padding: 30px 20px 0 20px;
      max-width: 416px;

      a {
        display: flex;
        justify-content: center;
      }
    }

    .block__footer {
      display: flex;
      align-items: center;
      margin-top: 25px;

      h1 {
        color: var(--body_color);
      }

      .line {
        margin-left: 30px;
      }
    }
  }
}

.line {
  height: 3px;
  width: 60px;
  border: 2px solid #b59571;
}

@media (max-width: 1000px) {
  .menu__content {
    h1 {
      margin: 0 100px;
    }
  }
}

@media (max-width: 900px) {
  .menu__footer {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .menu__content {
    h1 {
      margin: 0 60px;
    }
  }

  .menu__footer {
    gap: 40px;
  }
}

@media (max-width: 620px) {
  .menu__content {
    flex-direction: column;

    h1 {
      font-size: 56px;
      margin: 0 0 50px 0;
    }
  }

  .content {
    p {
      gap: 100px;
    }
  }
}

@media (max-width: 425px) {
  .block__img {
    img {
      width: 240px;
    }
  }
}

@media (max-width: 360px) {
  .block__img {
    img {
      width: 200px;
    }
  }
}
