.img_block {
  display: flex;
  flex-direction: column;

  &__main {
    img {
      width: 415px;
      height: 315px;
    }
  }

  &__mini {
    display: flex;
    justify-content: space-between;

    img {
      width: 125px;
      height: 90px;
    }
  }
}

@media (max-width: 1000px) {
  .img_block__main {
    img {
      width: 300px;
      height: 250px;
    }
  }
  .img_block__mini {
    img {
      display: none;
    }
  }
}

@media (max-width: 820px) {
  .img_block {
    align-items: center;
    margin: 50px 0 30px 0;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 375px) {
  .img_block {
    img {
      height: 200px;
      width: 250px;
    }
  }
}
