.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 70px 0 0;

  &__content {
    display: flex;
    max-width: 280px;
    gap: 15px;

    &__account {
      display: flex;
      align-items: center;
      gap: 15px;

      a {
        display: flex;
        font-size: 16px;
        line-height: 140%;
        font-weight: 400;
        text-decoration: none;
        color: black;
      }
    }

    &__cart {
      display: flex;
      align-items: center;
      gap: 15px;
      
      a {
        display: flex;
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 20px 35px 0 0;
  }
}

@media (max-width: 370px) {
  .header {
    padding: 20px 10px 0 0;
  }
}