.price_block {
  width: 100%;
  height: 300px;

  .content {
    height: 100%;
    width: 100%;
  }

  .price {
    width: 100%;
    height: 60px;
  }
  .number_servings {
    width: 100%;
    height: 25px;
  }
  .counter_button {
    width: 100%;
    height: 80px;
  }
}
