.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100px;
  background-color: #333333;
  z-index: 3;

  .sidebar_content__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      cursor: pointer;
      margin: 9px 0;
    }
  }

  .sidebar_content__footer {
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.icons {
  display: flex;
  margin: 9px 0;
}

@media (max-width: 900px) {
  .sidebar {
    width: 80px;

    &__logo {
      display: flex;

      img {
        width: 70px;
      }
    }
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 60px;

    &__logo {
      img {
        width: 55px;
      }
    }
    .sidebar_content__footer {
      img {
        width: 35px;
      }
    }
  }
}
