.categories {
  display: flex;

  &__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

    &__btn {
      color: black;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      padding-bottom: 5px;
      border-bottom: 3px solid transparent;
      cursor: pointer;

      &__active {
        border-color: rgb(181, 149, 113);
        transition: border-color ease 0.2s;
      }
    }

    &__btn:hover {
      border-color: rgba(181, 149, 113, 0.4);
      transition: border-color ease 0.2s;
    }
  }
}

@media (max-width: 1150px) {
  .categories__content__btn {
    margin-right: 10px;
    margin-bottom: 15px;

    &__active {
      margin-right: 10px;
      margin-bottom: 15px;
    }
  }
}
