body {
  margin: 0;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  transition:
    background-color 0.3s ease-in-out,
    fill 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

:root {
  --body_background: white;
  --body_border_color: 0, 0, 0;
  --body_color: black;
}

[data-theme="dark"] {
  --body_background: #1f1f20;
  --body_border_color: 255, 255, 255;
  --body_color: white;
}
