.wrapper {
  .container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    max-width: 1300px;
  }

  .food_card__wrapper {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px;
  }

  @media (max-width: 1300px) {
    .food_card__wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 1150px) {
    .food_card__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}
